.dialogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 24px;

  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

.dialogHeader h2 {
  font-weight: bold;
  padding: 8px 24px;
}

.dialogHeader h2 > div {
  margin-left: 10px;
}

.dialogHeaderSelect fieldset,
.dialogHeaderSelect:hover fieldset {
  border-color: inherit !important;
}

.dialogHeaderSelect svg {
  color: var(--ifm-font-color-base);
}

.dialogFooter {
  padding: 0 24px;
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.dialogContentCardHeader {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}
